body{
    background-image: linear-gradient(to top, rgb(0, 70, 97), rgb(7, 81, 106), rgb(13, 91, 116), rgb(20, 102, 125), rgb(26, 113, 134), rgb(33, 124, 143), rgb(39, 134, 153), rgb(46, 145, 162), rgb(52, 156, 171), rgb(59, 167, 180), rgb(65, 177, 190), rgb(72, 188, 199));
    font-family: 'Palatino Linotype', cursive;
   
}

.card{
    background-image: url("../img/18817ad39fd98a882a8bcdcfe1ffe59e.jpg");
    
}
  
